<footer class="container-fluid p-0" style="margin-top:5px">
    <div class="bg-dark text-center p-1 text-white">
        <div class="pt-1">
            <a href="mailto:predictor004@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x m-1 text-white"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100047424352590" target="_blank"><i class="fab fa-facebook fa-2x m-1 text-white"></i></a>
            <a href="https://www.linkedin.com/in/ritwika-ghosh-118a3b1b3/" target="_blank"><i class="fab fa-linkedin fa-2x m-1 text-white"></i></a>
            <a href="https://github.com/ritwika3221" target="_blank"><i class="fab fa-github fa-2x m-1 text-white"></i></a>
        </div>
        <p>Copyright &#169; Medical Insurance Predictor</p>
    </div>
</footer>
